*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

  }
  body{
    background-color: #ecf0f3;
  }
  .container{
    
    margin:  40px auto;
    height:440px;
    width: 300px;
    background: #ecf0f3;
    box-shadow: 10px 10px 15px #cbced1,
                -10px -10px 15px white;
    
  }
  input{
    width: 99%;
    background: #ecf0f3;
    box-shadow: 10px 10px 15px #cbced1,
                -0px -0px 15px white;
    padding: 35px;
    font-size: 2.3rem;
   
    font-weight: bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: right;

    border: none;
    
  }
 
 button{
  
  width: 72px;
  height: 62px;
  margin: 0 auto;
  text-align: center;
  font-size: 1.2rem;
  box-shadow: 1px 1px 15px #cbced1,
                -0px -0px 15px white;
  
  border: none;
  cursor: pointer;

 
 }
 button:hover{
  font-size: 1.3rem;
 }